<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <style>
        [v-cloak] {
            display: none;
        }
        
        .app {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            border: 1px solid #eee;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div id="app" class="app">
        <div v-cloak class="card">
            <input type="text" v-model="name">
            <button v-on:click="addItem">Добавить</button>

            <ol v-if="items.length > 0">
                <li v-for="(item, index) in items">
                    {{ item }}

                    <button v-on:click="deleteItem(index)">x</button>
                </li>
            </ol>

            <p v-else>
                Нет ни одной задачи.
            </p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data: function () {
                return {
                    name: '',
                    items: [],
                }
            },

            methods: {
                addItem: function () {
                    if (this.name === '') return;
                    this.items.push(this.name)
                    this.name = ''
                },

                deleteItem: function(index) {
                    this.items = this.items.filter(function (_item, _index) {
                        return (_index !== index)
                    })
                }
            }
        }).mount('#app')
    </script>
</body>
</html>